div{
    text-align: center;
}
h1{
    text-align: center;
}
#refresh{
    position : absolute;
    right:10%;
    top:40%;
}
form{
    text-align: left;
    background-color:wheat;
    color:black;
}
.full{
    width:25%;
    margin-left: auto;
    margin-right: auto;
}
legend{
    text-align: center ;
}
body{
    background-color:burlywood;
}
#id{
    background-color: aliceblue;
}
.alert{
    color: red;
}